In [1]:
import pandas as pd
from math import sqrt
data1 = {"X":[1,2,2,3,4,5,6,8,10,11],
         "Y":[3,5,3,9,7,2,8,6,6,1],
         "Z":["Negatif","Pozitif","Pozitif","Negatif","Negatif","Pozitif","Pozitif","Negatif","Negatif","Negatif"]}
df1 = pd.DataFrame(data1)
print(df1["X"])
print(df1["Y"])

x=7
y=3
mesafe = []
sıralama = []
for i in range(10):
    k = sqrt((x-df1.iloc[i,0])**2+(y-df1.iloc[i,1])**2)
    mesafe.append(k)
data2 = {"X":[1,2,2,3,4,5,6,8,10,11], "Y":[3,5,3,9,7,2,8,6,6,1],"Uzaklık":mesafe}
df2 = pd.DataFrame(data2)
for c in range(10):
    z=1
    for j in range(10):
        if df2.iloc[c,2]>df2.iloc[j,2]:
            z+=1
    sıralama.append(z)
df2["Sıralama"] = sıralama    
df2

0     1
1     2
2     2
3     3
4     4
5     5
6     6
7     8
8    10
9    11
Name: X, dtype: int64
0    3
1    5
2    3
3    9
4    7
5    2
6    8
7    6
8    6
9    1
Name: Y, dtype: int64

    X  Y   Uzaklık  Sıralama
0   1  3  6.000000         9
1   2  5  5.385165         8
2   2  3  5.000000         5
3   3  9  7.211103        10
4   4  7  5.000000         5
5   5  2  2.236068         1
6   6  8  5.099020         7
7   8  6  3.162278         2
8  10  6  4.242641         3
9  11  1  4.472136         4